.categories-header {
  justify-content: space-between;
  &__logo {
    width: 166px;
    height: 62px;
  }
  &__button {
    width: 28px;
    height: 28px;
    background: url(../../assets/svg/home.svg) no-repeat 50% 50%;
    background-size: contain;
    transition: 0.8s;
    margin-right: 20px;
    &:hover {
      cursor: pointer;
      background: url(../../assets/svg/home-pink.svg) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
.categories-main {
  &__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.categories-item {
  &:hover {
    cursor: pointer;
    .categories-item__img_close {
      filter: grayscale(0);
    }
  }
  &__text-container {
    display: flex;
    justify-content: space-between;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  &__img {
    width: 150px;
    height: 150px;
    border-radius: 15%;
  }
  &__img_close {
    filter: grayscale(1);
  }
  &__level {
    color: $active-button-color;
  }
  &__level_hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .categories-item {
    &__img {
      width: 200px;
      height: 200px;
    }
  }
}

@media (min-width: 1024px) {
  .categories-item {
    &__img {
      width: 250px;
      height: 250px;
    }
  }
}
